/* * {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background: linear-gradient(#e66465, #9198e5) fixed;
  min-height: 100vh;
  position: fixed;
}

.container {
  width: 50vh;
  margin: 50vh 50vh 50vh 50vh;

  position: center;
}
.head {
  font-size: 4rem;
  color: crimson;
  text-align: center;
}
.time {
  text-align: center;
  font-size: 8rem;
  color: #e66465;
} */

html,
body {
  height: 100%;
}

body {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

.clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.head {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}

.time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

.date {
  letter-spacing: 0.1em;
  font-size: 24px;
}
